footer {
  background-color: #d4d4d4;
  border-top: 2px solid $nav-bg;
  text-align: center;
  padding: 0.6rem;

  p {
    font-size: 1.4rem;
  }

  .footer-logo {
    width: 18rem;
  }

  .copyright {
    margin-top: 0.2rem;
    font-size: 1.3rem;
  }
}
