// colors
$main-color: #39c;
$secondary-color: #000;
$main-text: #fff;

$defaultColor: black;
$base-color: #39c;
$nav-bg: #39c;
$nav-button-bg: #39c;
$nav-button-hover: #000;

$tablet: 800px;
$phone: 500px;
